.theme-dark {
  background: #212121;
  color: #fff;
}

.theme-dark .navbar {
  background-color: #333;
}

.theme-dark .navbar .navbar-brand {
    color: #fff;
}

.theme-dark .card {
  background-color: #424242;
}

input {
    background: Red;
    background-color: Red;
}

body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}


.card{
  background: #424242;;
  padding: 10px 10px;
  border-radius: 3px;
  display: block;
  line-height: 1.5;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  transition: box-shadow .25s;
}

.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.card-title {
  color: white;
  margin-top:0px;
  font-weight: 700;
}

.project-card-title {
  font-size: 1.65em;
}

.card-title a {
  color: white;
  text-decoration: none !important;
}

.card-title:hover a{
    color: rgba(255,255,255,.75);
text-decoration: none;
}

.card-content {
  padding:15px;
  text-align:left;
}

.card-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.img-card {
  width: 100%;
  height:200px;
  border-radius: 10px;
  display:block;
    overflow: hidden;
}

.img-card img{
  width: 100%;
  height: 200px;
  object-fit:cover;
  transition: all .25s ease;
}

.card-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #606060
}
.card-metadata a{
    color: white;
    text-decoration: none;
}

.card-metadata a:hover {
  color: rgba(255,255,255,.75);
  text-decoration: none;
}

.card-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.card-read-more {
  border-top: 1px solid #D4D4D4;
}

.card-read-more a {
  text-decoration: none !important;
  padding:10px;
  font-weight:600;
  text-transform: uppercase
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.form-control-dark input{
    background-color: #1c1e21;
    text-indent: 24px;
    color: #fff;
}

.form-control-dark:focus input{
    background-color: #25272a;
    box-shadow: none;
    color: #fff;
    border-color: #4f63e7;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}
.project-img {
  height: auto;
  width: 100px;
  margin-right: 16px;
}
.card-thumbnail {
    max-height: 250px;
    overflow: hidden;
}

.ratio-1-1{
    width: 100%;
    padding-bottom: 100%!important; /* 1:1 Aspect Ratio */
    position: relative; /* If you want text inside of it */
}

