.theme-dark {
  background: #212121;
  color: #fff;
}

.theme-dark .navbar {
  background-color: #333;
}

.theme-dark .navbar .navbar-brand {
    color: #fff;
}

.theme-dark .card {
  background-color: #424242;
}

input {
    background: Red;
    background-color: Red;
}

body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}


.card{
  background: #424242;;
  padding: 10px 20px;
  border-radius: 3px;
  margin-bottom: 20px;
}

.card-title {
  color: white;
}

a.card-title:hover {
    color: rgba(255,255,255,.75);
text-decoration: none;
}

.card-content {
  white-space: pre-line;
}

.card-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.card-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #606060
}
.card-metadata a{
    color: white;
    text-decoration: none;
}

.card-metadata a:hover {
  color: rgba(255,255,255,.75);
  text-decoration: none;
}

.card-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.form-control-dark input{
    background-color: #1c1e21;
    text-indent: 24px;
    color: #fff;
}

.form-control-dark:focus input{
    background-color: #25272a;
    box-shadow: none;
    color: #fff;
    border-color: #4f63e7;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.card-thumbnail {
    max-height: 250px;
    overflow: hidden;
}