{% extends "blog/base.html" %}
{% block content %}
{% for post in posts %}
<article class="rounded mb-3">
    <div class="card">
        <div class="card-metadata">
            <a class="me-2" href="#">{{ post.author.first_name }} {{ post.author.last_name }}</a>
            <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
        </div>
        <h2><a class="card-title" href="#">{{ post.title }}</a></h2>
        <p class="card-content">{{ post.content }}</p>
    </div>
</article>
{% endfor %}
{% endblock content %}
