{% extends "blog/base.html" %}
{% block content %}

<article class="rounded mb-3 card">
    <div class="d-flex">
        <div class="flex-shrink-0">
            <img src="{{ object.project.image.url }}" class="rounded-circle article-img">
        </div>
        <div class="card-metadata flex-grow-1 ms-3">
            <h2 class="card-title">{{ object.title }}</h2>
        </div>
    </div>
    <p class="card-content">{{ object.content }}</p>
</article>


{% include 'blog/user_posts.html' %}

{% block posts %}

{% endblock posts %}

{% endblock content %}
