{% extends "blog/base.html" %}
{% block content %}
<section class="py-4 my-5">
    <div class="container ">
        <div class="row">
            <div class="col-12">
                <h1 class="mb-3">Projects</h1>
            </div>
            {% for project in projects %}
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card h-100">
                    <div class="ratio ratio-1x1">
                        <a class="img-card" href="{% url 'project-detail' project.id %}">
                            <img class="img-thumbnail" src="{{ project.image.url }}"/>
                        </a>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title project-card-title">
                            <a href="{% url 'project-detail' project.id %}">
                                {{ project.title }}
                            </a>
                        </h4>
                        <p>
                            {{ project.card_content|safe }}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}
