{% extends "blog/base.html" %}
{% block content %}


<section class="py-4 my-5">
    <div class="container ">
        <div class="row">
            <div class="col-12">
                <h2 class="mb-3">Projects</h2>
            </div>
            {% for project in projects %}
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card my-3 h-100 position-relative">
                    <div class="card-thumbnail">
                        <img src="{{ project.image.url }}" class="card-thumbnail img-fluid" alt="thumbnail">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title"><a class="card-title" href="{% url 'project-detail' project.id %}">{{ project.title }}</a></h3>
                        <p class="card-text">{{ project.card_content }}</p>
                        <div class="position-absolute bottom-0 start-50 m-3">
                            <a href="{% url 'project-detail' project.id %}" class="btn btn-danger">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}
