{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="m-4 card">
    <div class="d-flex">
        <div class="flex-shrink-0">
            {% if user.profile.image %}
                <img src="{{ user.profile.image.url }}" class="rounded-circle account-img" width="80" height="80"
                 alt="Sample Image">
            {% else %}
                <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>
            {% endif %}
        </div>
        <div class="flex-grow-1 ms-3">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
        </div>
    </div>
</div>
<!-- Update Form -->
 <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
                <div class="form-control-dark">
                    {{ u_form|crispy }}
                    {{ p_form|crispy }}
                </div>
            </fieldset>
            <div class="form-group pb-3">
                <button class="btn btn-outline-info" type="submit">Save Profile</button>
            </div>
        </form>
 </div>

{% endblock content %}